<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,582}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,582}}</string>
                <key>sourceSize</key>
                <string>{768,582}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{768,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,240}}</string>
                <key>sourceSize</key>
                <string>{768,240}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{768,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,234}}</string>
                <key>sourceSize</key>
                <string>{768,234}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,238},{768,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,109}}</string>
                <key>sourceSize</key>
                <string>{768,109}</string>
            </dict>
            <key>guitar_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,134},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>guitar_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>hamster.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{144,193}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{144,193}}</string>
                <key>sourceSize</key>
                <string>{172,193}</string>
            </dict>
            <key>hamster_hitted.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,828},{201,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,144}}</string>
                <key>sourceSize</key>
                <string>{201,144}</string>
            </dict>
            <key>piano_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1781,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>piano_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,2},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sachs_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,828},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sachs_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,828},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shelfdrum_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,828},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>shelfdrum_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,828},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>newUI.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4abad76d698aa312a4bd378f351aeef$</string>
            <key>textureFileName</key>
            <string>newUI.png</string>
        </dict>
    </dict>
</plist>
